@media (max-width: 1024px) {

    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .header {
        min-height: 74px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .slider {
        height: 624px;
    }

    .content-products {

        &__product-paddings {
            padding-bottom: 129px;
        }

        &__item_first {
            order: 2;
        }

        &__item_second {
            order: 1;
        }

        &__item_third {
            display: none;
        }

    }

    .footer-subscribe {
        justify-content: center;
        padding-top: 64px;
        padding-bottom: 140px;

        &__box {
            margin-bottom: 27px;
        }
    }

    .footer-logo {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hide {
        display: none;
    }

    .new-arrivals {
        flex-direction: column;
        gap: 32px;
        padding-top: 24px;
        padding-bottom: 46px;

    }

    .product-info {
        gap: 25px;

        &__text {
            padding-top: 32px;
        }

        &__price {
            padding-bottom: 65px;
        }

        &__filter {
            padding-top: 49px;
            padding-bottom: 64px;

            summary {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }

    .content-products {

        &__product-paddings {
            padding-top: 64px;
            padding-bottom: 64px;
        }

        &__item_first {
            grid-row: 1;
        }

        &__item_second {
            display: none;
        }

        &__item_third {

            display: initial;
            grid-row: 2;
        }
    }
}

.footer-subscribe {
    padding-bottom: 110px;
    gap: 59px;

    &__box {
        margin-bottom: 22px;
    }

    &__text {
        @include font-lato-regular(18px, 22px);
        padding-bottom: 10px;

    }

    &__title {
        @include font-lato-semibold(24px, 37px);
    }

    &__subtitle {
        @include font-lato-regular(14px, 21px);
    }


}

.footer-logo {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 43px 62px 9px;

}


@media (max-width: 374px) {

    .center {
        padding-left: 8px;
        padding-right: 8px;
    }

    .hide {
        display: none;
    }

    .product-info__filter {
        gap: 18px;

        summary {
            font-size: 10px;
            line-height: 12px;
        }

    }

    .footer-subscribe {
        padding-bottom: 81px;

    }
}